
<div class="footer-container">
    <div class="footer-list">
      Helps you move your family to your provided city. We take care everything of you
    </div>
      <ul class="footer-list">
        <li>Home</li> 
        <li>Plan a Move</li>
        <li>Cities </li>
        <li>Terms and Services</li>
      </ul>
      <ul class="footer-list">
          <li>About us</li> 
          <li>Blog</li>
          <li>Contact us </li>
          <li>Sign in</li>
        </ul>
        <div class="footer-list">Feel Free to get into touch with us through phone +1 800 800 or email mover@yopmail.com </div>
    <div class="clear"></div>
    </div>