<div class="header-container">
  <div class="header">
    <ul>
      <li><a routerLink="/history">History</a></li>
      <li><a routerLink="/plan-a-move">Plan a Move</a></li>
      <li><a routerLink="/cities">Cities</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li class="clear"></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="sub-header">
    <div class="title-block">Moving Made Easy</div>
    <div class="fs-18">Just select where you want to move, we take of everything else.</div>
    <div class="btn">Start Your Move</div>
  </div>
</div>